

body{background:url(imageness/marleyy.jpg);}

h1{color:#F4E79F;}
h2{color:#F4E79F;}
span p {color:#F4E79F; font-size: 15px;}
	p{color:#F4E79F; font-size:20px;}
	
div a{color:#F4E79F; font-size:20px;background:#424242; padding: 5px 10px;display:inline-block;box-shadow:0px 5px 0px #F4E79F ;border-radius:50px;}
div a:hover{text-decoration:underline; background:#424242; box-shadow:0px 2px 0px #F4E79F;}

li {width:50%;background:#F4E79F; margin:5px 5px; padding:5px;border:5px solid #145A32;}

li a{color:#145A32; font-size:18px;border-radius:40px; box-shadow:5px 5px 0px #424242;}
li p {color: #A93226; font-size:14px;}
h1,h2,p,li,div,a{margin:10px 20px;}
li{border-radius:50px; box-shadow:5px 5px 0px #424242;}
li a:hover{text-decoration:underline; background:#A93226;}
img{border-radius:40px; box-shadow:5px 5px 0px #424242;}

table{border:10px solid; color: #5D4037; margin: 50px 250px;}
td h2{width:100px; height:90px; background:white;  margin:-5px;}
td h3{width:100px; height:90px; background:black; margin: -5px;}
